body {
	background: #F66;
	color: black;
}

a[href] {
	color: #149;
}

a[href]:visited {
	color: #164;
}

div.m {
	background: #FAA;
	text-align: center;
	padding: 0.3em;
}

div.i {
	display: inline-block;
	text-align: justify;
}

a.me {
	font-weight: bold;
}

div.g { }
div.g > div {
	line-height: 0;
	display: block;
	float: left;
	padding: 0px;
	margin: 5px;
	text-align: center;
	/*vertical-align: bottom;*/
	background: #FAA;
}
div.g > div > a {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
	/*vertical-align: middle;*/
}
div.g > div > a > div {
	vertical-align: middle;
	display: table-cell;
	height: 160px;
	padding: 5px;
}
div.g > div > a:visited > div {
	background: #F98;
}
div.g > div > a > div > img {
	margin: 0;
	padding: 0;
	border: 0;
}
div.g > div > div {
	line-height: 1;
	display: block;
	margin: 0;
	padding: 0.2em;
	text-align: center;
}

p.nav {
	clear: left;
}

img.areaind {
	width: 4px;
	background: #B88;
}
div#nvcontent {
}

div#editlink, div#editor {
	display: block;
}

div#autocomplete, div#statmsg {
	position: absolute;
	background: #F66;
	border: 1px #B55 solid;
	display: none;
}
